# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
venv.bak/
venv2/
venv3/
.env

# Flask specific files
instance/
*.sqlite
*.db

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/

# Docker
docker-compose.override.yml

# MacOS
.DS_Store

# Windows
Thumbs.db
