{% extends "guest/base.html" %} {% block title %}Haven Stay - Reservation{%
endblock %} {% block content %}

<section
  class="site-hero overlay page-inside"

  style="background-image: url({{ url_for('static', filename='img/reservation3.jpg') }})"  
>
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center">
        <h1 class="heading" data-aos="fade-up">Secure Your Spot!</h1>
        <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
          Book now to enjoy exquisite meals and handcrafted drinks in one
          unforgettable experience.
        </p>
      </div>
    </div>
    <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
  </div>
</section>
<!-- END section -->

<section class="bg-light">
  <div class="half d-md-flex d-block">
    <div
      class="image"
      data-aos="fade"
     
      style="background-image: url({{ url_for('static', filename='img/reservation1.jpg') }})"
    ></div>
    <div class="text" data-aos="fade-right" data-aos-delay="200">
      <h2>In-Bar</h2>

      <p>
        Step into the In-Bar, where modern sophistication meets culinary
        excellence. Enjoy expertly crafted cocktails, a curated selection of
        fine wines, and delectable bites in a chic and vibrant atmosphere.
        Perfect for lively evenings or intimate gatherings, the In-Bar offers an
        upscale retreat right within our venu!
      </p>
      <p>.</p>

      <p class="mt-5">
        <a href=" {{ url_for('guest.table_reservation')}} " class="btn btn-primary uppercase">Reserve Table</a>
      </p>
    </div>
  </div>

  <div class="half d-md-flex d-block">
    <div
      class="image order-2"
      data-aos="fade"
    
      style="background-image: url({{ url_for('static', filename='img/reservation2.jpg') }})"
    ></div>
    <div class="text" data-aos="fade-left" data-aos-delay="200">
      <h2>Riverside Lounge</h2>

      <p>
        Unwind at the Riverside Lounge, where breathtaking river views and a
        relaxed ambiance come together. Sip on refreshing drinks and savor
        light, flavorful dishes while soaking in the tranquil setting. Ideal for
        leisurely afternoons or serene evenings, the Riverside Lounge offers a
        peaceful escape with a touch of elegance.
      </p>
      <p></p>

      <p class="mt-5">
        <a href=" {{ url_for('guest.table_reservation')}}" class="btn btn-primary uppercase">Reserve a Table</a>
      </p>
    </div>
  </div>
</section>

{% endblock %}
