{% extends "guest/base.html" %}
{% block title %}Haven Stay - Reservation Confirmed{% endblock %}
{% block content %}
    <section class="site-hero overlay" style="background-image: url('/static/img/hero_image.jpg')">
        <div class="container">
            <div class="row site-hero-inner justify-content-center align-items-center">
                <div class="col-md-10 text-center">
                    <h1 class="heading">Reservation Confirmed</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 mb-5">
                    <div class="bg-white p-md-5 p-4 mb-5 border text-center">
                        <h3 class="mb-4">Thank You for Your Reservation!</h3>
                        <p>Your table reservation has been successfully confirmed.</p>
                        <p>We look forward to serving you on <strong> Tuesday</strong> at <strong> 9:30 PM</strong>.</p>
                        <strong>If you have any special requests or need to make changes, please contact us at <strong>0798037734</strong> or <p>booking@havenstay.co.ke</p></strong>.</p>
                        <a href="/" class="btn btn-primary text-white py-3 px-5 font-weight-bold mt-4">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
